<a href="https://colab.research.google.com/github/shreydan/machine_learning_notebooks/blob/main/water_potability_KNN_Classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[kaggle: water quality by Aditya Kadiwal](https://www.kaggle.com/adityakadiwal/water-potability)

### importing from Google Drive into Colab

dataset_zip_path = '/content/drive/MyDrive/DATASETS/water-potability.zip'

In [2]:
!unzip '/content/drive/MyDrive/DATASETS/water-potability.zip' -d '/content'

Archive:  /content/drive/MyDrive/DATASETS/water-potability.zip
  inflating: /content/water_potability.csv

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [18]:
df_path = '/content/water_potability.csv'

In [19]:
raw_df = pd.read_csv(df_path)

In [20]:
raw_df.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0

In [21]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3276 entries, 0 to 3275
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ph               2785 non-null   float64
 1   Hardness         3276 non-null   float64
 2   Solids           3276 non-null   float64
 3   Chloramines      3276 non-null   float64
 4   Sulfate          2495 non-null   float64
 5   Conductivity     3276 non-null   float64
 6   Organic_carbon   3276 non-null   float64
 7   Trihalomethanes  3114 non-null   float64
 8   Turbidity        3276 non-null   float64
 9   Potability       3276 non-null   int64
dtypes: float64(9), int64(1)
memory usage: 256.1 KB

In [22]:
raw_df.describe()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
count,2785.000000,3276.000000,3276.000000,3276.000000,2495.000000,3276.000000,3276.000000,3114.000000,3276.000000,3276.000000
mean,7.080795,196.369496,22014.092526,7.122277,333.775777,426.205111,14.284970,66.396293,3.966786,0.390110
std,1.594320,32.879761,8768.570828,1.583085,41.416840,80.824064,3.308162,16.175008,0.780382,0.487849
min,0.000000,47.432000,320.942611,0.352000,129.000000,181.483754,2.200000,0.738000,1.450000,0.000000
25%,6.093092,176.850538,15666.690297,6.127421,307.699498,365.734414,12.065801,55.844536,3.439711,0.000000
50%,7.036752,196.967627,20927.833607,7.130299,333.073546,421.884968,14.218338,66.622485,3.955028,0.000000
75%,8.062066,216.667456,27332.762127,8.114887,359.950170,481.792304,16.557652,77.337473,4.500320,1.000000
max,14.000000,323.124000,61227.196008,13.127000,481.030642,753.342620,28.300000,124.000000,6.739000,1.000000

In [23]:
df = raw_df.fillna(0)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3276 entries, 0 to 3275
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ph               3276 non-null   float64
 1   Hardness         3276 non-null   float64
 2   Solids           3276 non-null   float64
 3   Chloramines      3276 non-null   float64
 4   Sulfate          3276 non-null   float64
 5   Conductivity     3276 non-null   float64
 6   Organic_carbon   3276 non-null   float64
 7   Trihalomethanes  3276 non-null   float64
 8   Turbidity        3276 non-null   float64
 9   Potability       3276 non-null   int64
dtypes: float64(9), int64(1)
memory usage: 256.1 KB

In [51]:
from sklearn.model_selection import train_test_split


X = df.iloc[:,:9].values
y= df.iloc[:,9].values

print(X.shape, y.shape)

X_train, X_test, y_train, y_test = train_test_split(
    X,
    y,
    test_size=0.1,
    random_state=1357
    )

print(X_train.shape, y_train.shape, X_test.shape, y_test.shape)

(3276, 9) (3276,)
(2948, 9) (2948,) (328, 9) (328,)

In [52]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

scaler.fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [53]:
from sklearn.neighbors import KNeighborsClassifier

classifier = KNeighborsClassifier() # n_neighbors = 5 | default

classifier.fit(X_train,y_train)

KNeighborsClassifier()

In [54]:
y_preds = classifier.predict(X_test)

In [48]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [55]:
accuracy = accuracy_score(y_test, y_preds)

In [56]:
print(f'Accuracy: {round(accuracy,4)*100}%')

Accuracy: 57.010000000000005%

In [57]:
tn, fp, fn, tp = confusion_matrix(y_test, y_preds).ravel()

print(tn,fp,fn,tp)

151 54 87 36